/*== RESET(*) CSS ==*/
* {
	padding: 0;
	margin: 0;
	border: none;
}
/*-------------*/


/*== VARIÁVEIS(:root) CSS ==*/
:root {
	--sombra: #3e4b63;
	--azul-escuro: #0d152e;
	--azul-escuro-claro: #1f2542;
	--azul-claro: #4b5870;
	--azul-mais-claro: #687c9f;
	--branco: #FFFFFF;
	--título: #9ca1ab;
	--subtítulo: #abb4c2;
	--texto: #cad0db;
}
/*-------------*/


html {
	background-color: var(--azul-claro);
	font-family: 'CMUSerifRoman';
	text-shadow: 3px 3px 2px var(--sombra);
}



/*== CABEÇALHO ==*/
header {
	background-color: var(--azul-escuro);
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	box-shadow: 0px 15px 5px var(--sombra);
}

header img {
	width: 25%;
	max-width: 25%;
	margin: 1.5rem 6rem 1.5rem 3rem;
}

header a {
	text-decoration: none;
	font-size: 1.5em;
	color: var(--texto);
}

header a:hover {
	color: var(--branco);
	font-style: italic;
}
/*-------------*/


/*== LOGO, DATA E SLOGAN (LDS) ==*/
.LDS img, h2, p{
	display: block;
	margin: auto;
	text-align: center;
}

.LDS img {
	width: 35%;
	max-width: 35%;
}

.LDS h2 {
	font-family: 'AlexBrushRegular';
	color: var(--título);
	font-size: 2.5em;
}

.LDS p {
	color: var(--subtítulo);
	font-size: 2.5em;
}
/*-------------*/


/*== DIVISOR ==*/
.Divisor img {
	display: block;
	margin: auto;
	width: 60%;
	max-width: 60%;
}
/*-------------*/


/*== NOSSOS SERVIÇOS ==*/
.Nossos_Serviços {
	text-align: center;
	color: var(--branco);
	font-size: 2em;
	font-family: 'AlexBrushRegular';
	margin: 1rem;
}

 body .Elementos_Links {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin: 2rem 0 10rem 0; 
}

.grid-item {
    position: relative;
    width: 450px;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    overflow: hidden;
    background-color: var(--azul-mais-claro);
    box-shadow: 0 4px 10px var(--sombra);
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50px;
}

.grid-item:hover {
	opacity: 90%;
	box-shadow: 0 4px 10px var(--azul-escuro-claro);
}
/*-------------*/


/*== RODAPÉ ==*/
footer {
	background-color: var(--azul-escuro);
	color: var(--branco);
	font-style: italic;
	text-shadow: none;
	text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.One {
	width: 25%;
	max-width: 25%;
}

.Two {
	margin: 1rem;
	width: 15%;
	max-width: 15%;
}

footer h2, p {
	line-height: 2rem;
	font-size: 1em;
}
/*-------------*/